<a href="#" class="4rotate">
    <!--<div class="fab fab-low"> <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="low fa fa-smile-o fa-stack-1x s"></i>
        </span></div>-->
    <h6 id="mdl" class="low">Header</h6>
    <table>
        <tr>
            <td align="left">Total</td>
            <td align="center">{{800000 | number : '1.2-2'}}</td>
            <td align="center">Ton</td>
        </tr>

        <tr>
            <td align="left">Daily</td>
<td align="center">{{2000 | number : '1.2-2'}}</td>

            <td align="center">Ton</td>
        </tr>
        <tr>
            <td align="left">Monthly</td>
            <td align="center">{{100000 | number : '1.2-2'}}</td>
            <td align="center">Ton</td>
        </tr>
    </table>
    
    <!--<app-card-water-header [name]="data?.name"></app-card-water-header>
    <app-card-water-table [data2table]="data" [aaa]="data?.mySUM">  </app-card-water-table>-->

</a>